# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ncb
*.obj
*.log
*.ilk
*.pch
*.ipch
*.tlog
*.idb

*.suo
*.user
*.VC.VC.opendb
*.VC.VC.db

.vs/
*.VC.db
*.opendb

/Debug/
/Release/
/x64/
/x86/
